# Server
PORT=8080
FRONTEND_URL=http://localhost:3000

# Database
DB_URL=yourpostgresconnectionsstring
POSTGRES_DB=yourDbName
POSTGRES_USER=yourDbUser
POSTGRES_PASSWORD=yourDBpw

# Auth
JWT_SECRET=yoursupersecret 

# Stripe
STRIPE_SECRET=sk_test_...
STRIPE_PRICE_ID_PRO=price_...
STRIPE_PRICE_ID_ULTIMATE=price_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Email (Gmail SMTP)
EMAIL_PASSWORD=youremailpw
EMAIL_FROM=yourgmailapppassword